html {
  font-size: 18px;
}

body  {
  font-family: helvetica;
  
}

.sitecontainer{
  width:960px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  padding:auto 10rem;
  overflow: visible;
}

div {
  border: 1.5px green solid;
}

.header {
  display: flex;
  background-color: black;
  color: white;
  width:100%;
  overflow: visible;

  }

#logo{
  height:1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-top: .33rem;

}

#secret {
  margin: 0.66rem 0;
}



.header2 {

  display:flex;
  flex-direction: column;
  background-image: url(../images/moto.jpeg);
  height:25rem;
  background-size: cover;
}

#new {
  font-size: 1rem;
  font-weight: bold;
  color:white;
  background-color: black;
  margin-top:9rem;
  padding-top:2rem;
  padding-left:3rem;
  width:20rem;
  padding-bottom: 0.25rem;
}

#sport {
  font-size: 2rem;
  font-weight: bold;
  color:white;
  background-color: black;
  padding-left:3rem;
  width:20rem;
  padding-bottom: 2rem;
}


nav{
  display:flex;
  padding: 0.75rem auto;
}

nav span {
  background-color:firebrick;
  color:white;
  justify-content: space-around;
  width:100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}


.gallery{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:3rem;
  width:100%;
}

.pen,.watch,.glasses{
  flex-direction: column;
  display:flex;
}

#pen,#watch,#glasses {
  height:9rem;
  border: 4px solid black;
  padding:2rem;
  }

  .pen span, .watch span, .glasses span{
    color:white;
    background-color: black;
    padding: 0.5rem;
    text-align:center;
  }

.glasses {
  height:9rem;
  width:30%;
}

.contact {
  display:flex;
  justify-content: space-between;
  width:100%;
}

.locations,.hours{
  flex-direction: column;
  display: flex;
  margin-bottom: 4rem;
  width:35%;
}

#locations,#hours {
  background-color: black;
  color:white;
  margin-top:3rem;
  padding-left: 2rem;
  padding-top:1rem;
  padding-bottom:1rem;
  text-align: left;

}

footer {
  height:8rem;
  width:100%;
  text-align:left;
  color:white;
  background-color: black;
  align-items: center;
  display:flex;
  }







/*@media screen only and (min-width:940px){
  .body {
    justify-content: center;
  }
}*/
